/* Police & reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #000;
    color: #fff;
    scroll-behavior: smooth;
}

/* NAV BAR */
nav {
    position: fixed;
    width: 100%;
    background: #000;
    padding: 15px 0;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    margin: 0 15px;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
}
nav a:hover {
    color: #ffd700;
}

/* HEADER */
header {
    height: 90vh;
    background: url('https://cdn.gta5-mods.com/paintjobs/gruppe6-security-skin-pack/gruppe6-charger.webp') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .overlay {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header h1 { font-size: 3.8rem; color: #ffd700; }
header p { font-size: 1.3rem; margin: 15px 0; }

/* SECTIONS */
section { padding: 80px 10%; text-align: center; }
section h2 {
    font-size: 2.7rem;
    color: #ffd700;
    margin-bottom: 30px;
}

/* PRÉSENTATION */
.section-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.section-flex img {
    width: 45%;
    border-radius: 12px;
}

/* MISSIONS */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.card {
    background: #111;
    width: 300px;
    border-radius: 12px;
    padding: 15px;
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 0px 15px #ffd700;
}
.card img {
    width: 100%;
    border-radius: 10px;
}

/* GALERIE */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 15px;
}
.gallery-grid img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #000;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #ccc;
}

/* RESPONSI﻿VE */
@media (max-width: 768px) {
    .section-flex img { width: 100%; }
    nav ul { flex-direction: column; }
}